{% extends 'base.html' %}
{% block title %}Acerca de mí{% endblock %}
{% block content %}
<div class="welcome-box">
    <h1>Acerca de mí</h1>
    <p>
        ¡Hola! Soy <span class="coder">[Tu Nombre]</span> y este es mi proyecto final para <strong>Coderhouse</strong>.<br>
        Me apasiona la programación y el desarrollo web.<br>
        <br>
        <strong>¿Qué puedes encontrar aquí?</strong><br>
        - Un blog minimalista hecho con Django.<br>
        - Gestión de posts y páginas.<br>
        - Mensajería entre usuarios.<br>
        <br>
        <strong>Contacto:</strong><br>
        <a href="mailto:aguirreignacio.fal@gmail.com" class="btn-link">aguirreignacio.fal@gmail.com</a>
        <br>
        
    </p>
</div>
{% endblock %}