<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Blog{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">Acerca de mí</a>
        <a href="{% url 'post_list' %}">Posts</a>
        <a href="{% url 'pages-list' %}">Pages</a>
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}">Perfil</a>
            <a href="{% url 'messenger-inbox' %}">Mensajes</a>
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Registro</a>
        {% endif %}
    </nav>
    <div>
        {% if messages %}
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </div>
    
</body>
</html>